[build]
command = "npm run build"
publish = "dist"
environment = { NODE_VERSION = "22.20.0" }

[context.production]
command = "npm run build"
publish = "dist"

[context.deploy-preview]
command = "npm run build"
publish = "dist"

[context.branch-deploy]
command = "npm run build"
publish = "dist"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
